body {
    margin: auto;
    width: 55%;
    text-align: justify;
    font-family: sans-serif; 
    animation-name: color-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}
nav {
    background-color:white;
    border-radius: 10px;
    margin-top: 8px;
  }
  
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
} 
  
.button:hover {
    background-color: darkgrey;
}

p {
    color: black;
    text-align: justify;
  }
  
  h1,
  h2{
    color: darkblue;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 1px gray; 
  }
  
  h2 {
    color: dodgerblue;
  }

div {
    background-color: white;
    border: solid white 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes color-change {
    from {background-color: darkblue;}
    to {background-color: dodgerblue;}
  }